.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.buttontry
{
  position: absolute;
align-items: center;
padding: 8px 12px;
gap: 4px;
width: 86px;
height: 36px;
color: white;
background: #1076BD;
border-radius: 4px;
border: white;
flex: none;
order: 0;
flex-grow: 0;
}
