<mat-drawer-container class="example-container mat-typography" autosize style="height: 900px;" >

  <mat-drawer #drawer mode="side" disableClose="true" opened="true" style="background: #EEF9FD; max-width: 270px;">
    <mat-nav-list>
      <div *ngFor='let acc of accelerators'>
      <ng-container *ngIf="acc.accId==b;else normal">
        <mat-list-item style="background-color: #FFFFFF;">
          <img src='{{acc.accLogo}}' width="30px" height="30px" id="icon" alt="User Icon" />
          <span><h4 style="margin-bottom: 5px; font-size: 18px; color: #1076BD; max-width: 220px; font-weight: 700;" mat-line *ngIf="isExpanded">&nbsp;&nbsp;&nbsp;&nbsp;{{acc.accName}}</h4></span>
        </mat-list-item>
        <br>
      </ng-container>
      <ng-template #normal>
        <a routerLink="/main/dashboardDetail/{{acc.accId}}">
        <mat-list-item >
          <img src='{{acc.accLogo}}' width="30px" height="30px" id="icon" alt="User Icon" />
          <span><h4 style="margin-bottom: 2px; max-width: 220px;" mat-line *ngIf="isExpanded" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{acc.accName}}</h4></span>
        </mat-list-item>
      </a>
        <br>
      </ng-template>
      </div>
    </mat-nav-list>

  </mat-drawer>
  <a style="position: relative; padding-right: 1px;" href="" (click)=" $event.preventDefault();isExpanded = !isExpanded" >
    <img src="assets/images/arrow.png" width="20px" height="20px" id="icon" alt="User Icon" />
  </a>
  <div class="example-sidenav-content" style="height: 700px;">
    
    <div class="card" id="mainacc" ng-style="isExpanded && {'width':'43rem'} || {'width':'56rem'}"style="margin: 15px;">
      <img src="{{accelerator.accImg}}" style="height: 150px;
      object-fit: cover;
      display: block;
      width: 100%;" class="card-img-top" alt="...">
      <div style="position:absolute;left: 17px;top: 120px; background-color: #FFFFFF; width: 60px;">
        <img style="margin: 2px;" src='{{accelerator.accLogo}}' width="55px" height="55px" id="icon" alt="User Icon" /></div>
      <br><br>
      <div class="card-body">
        <ng-container *ngIf="isExpanded;else normal">
        <button  style="
        width: 86px;
        margin-left:550px;
        height: 36px;
        color: white;
        background: #1076BD;
        border-radius: 4px;
        border: white;"><a [attr.href]='accelerator.accUrl' style="color: white;">Try it out</a></button>
        </ng-container>
        <ng-template #normal>
          <button  style="
          width: 86px;
          margin-left:750px;
          height: 36px;
          color: white;
          background: #1076BD;
          border-radius: 4px;
          border: white;"><a [attr.href]='accelerator.accUrl' style="color: white;">Try it out</a></button>
        </ng-template>
        <h4 style="font-size: 18px; color:#12355B; font-weight: 700; margin: 3px;" class="card-title">{{accelerator.accName}}</h4>
        <p style="color:#12355B;font-size: 12px;margin-left: 8px;">Added 4 days ago</p> 
        <br>
        <h4 style="font-size: 16px; color:#12355B; font-weight: 700;" class="card-title">Overview</h4>
        <p class="card-text">{{accelerator.accDescr}}</p>
        <br>
        <h4 style="font-size: 16px; color:#12355B; font-weight: 700;" class="card-title">How it is useful ?</h4>
        <p class="card-text" >
          {{accelerator.accHowIt}}</p>
        <br>
        <h4 style="font-size: 16px; color:#12355B; font-weight: 700;" class="card-title">Videos</h4>
        <div style="background-color: #FFFFFF;border-radius: 5px; border:1px solid #66C0FF; width: 90px; height: 50px;">
        <a [attr.href]='accelerator.accVideo'><img src="{{accelerator.accImg}}" style="border-radius: 5px; border:1px solid #66C0FF; width: 90px; height: 50px;" alt=""></a>
        </div>
        <br>
        <h4 style="font-size: 16px; color:#12355B; font-weight: 700;" class="card-title">Documentations</h4>
        <div style="background-color: #FFFFFF;border-radius: 5px; border:1px solid #66C0FF; width: 90px; height: 50px;">
          <a [attr.href]="accelerator.accDoc"><img src="{{accelerator.accImg}}" style="border-radius: 5px; border:1px solid #66C0FF; width: 90px; height: 50px;" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>