body {
    background: #2d67f6;
}

.form-control:focus {
    box-shadow: none;
    border-color: #2d67f6;
}

.back:hover {
    color: #2d67f6;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #2d67f6;
    color: #fff;
    cursor: pointer;
    border: solid 1px #2d67f6
}