<!-- <p>third-screen works!</p> -->

<div class="parent_container">

    <div class="data">
        <div>
            <div class="content">
                <div class="icons">
                    <img src="../../assets/images/user.png"/>
                </div>
                <div class="data_feed"> 
                    <h2>230</h2>
                    <h2>Total no of User</h2>
                </div>
            </div >
            <div class="content">
                <div class="icons">
                    <img src="../../assets/images/user.png"/>
                </div>
                <div class="data_feed"> 
                    <h2>10</h2>
                    <h2>Active User</h2>
                </div>
            </div >
            <div class="content">
                <div class="icons">
                    <img src="../../assets/images/user.png"/>
                </div>
                <div class="data_feed"> 
                    <h2>10</h2>
                    <h2>No of accelerator</h2>
                </div>      
            </div>
        </div>
            
        <div class="lineGraph" >
            <canvas baseChart width="800" height="250"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
            </canvas>
        </div>
    </div>
    
    <div  class="barChart" style="width:auto;margin-top:30px;">
        <div >
        <canvas baseChart width="1000" height="250" 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [colors]="barChartColors"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
        </canvas>
        </div>
    </div>
    
</div>
