<h3 style="position: relative; left: 30%;">Reject the request of this User?</h3>
<hr />
<div  style="position: relative; left: 35%;">
  
        <div >
            <strong>First Name: {{user.firstName}} </strong> <br><br>
            <strong >Last Name: {{user.lastName}} </strong> <br><br>
            <strong>Email: {{user.email}} </strong> <br><br>
            <strong>Phone: {{user.phoneNumber}} </strong> <br><br>
            <button class="btn btn-danger" (click)="delete_api(user.customerId)">Reject</button>
        </div>
       
</div>
<hr />