<div class="row">
    <div class="col-md-4">
        <form style="position: relative; left: 20px;">
            <br>
            <div class="form-group">
                <label for="flowerid">First Name: </label>
                <input type="text" id="flowerid" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}" placeholder=" fisrt name">
            </div>
            <div class="form-group">
                <label for="flowerid">Last Name: </label>
                <input  type="text" id="flowerid" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}" placeholder=" Last name">
            </div>
            <div class="form-group">
                <label for="flowerid">Phone: </label>
                <input type="text"  id="flowerid" [(ngModel)]="user.phoneNumber" [ngModelOptions]="{standalone: true}" placeholder=" Last name">
            </div>
            <div class="form-group">
                <label for="flowerid">Email: </label>
                <input type="text" id="flowerid" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder=" Last name">
            </div>
       
                 
            <button class="btn btn-primary"  (click)="approveUser(user.customerId)">Approve User</button>
       </form>
    </div>
 </div>
 