<app-header></app-header>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet" />

<h2>Our Services<span style="color: #2d67f6;">.</span>
  Your Pathfinders<span style="color: #2d67f6;">.</span>
</h2>
<h3>Engineering Solutions for Better Customer Experiences</h3>
<div class="container-fluid row row-cols-1 row-cols-md-4 g-4" style="margin-top: 0px;">
    <div class="col">
      <div class="card h-100 hello">
        <div class="hello2">
          <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top hello1" alt="..." />
          <div class="overlay">
            <a href="#" class="icon" title="Play">
              <!-- <i class="fa fa-play"></i> -->
              <!-- <i class="fas fa-play-circle"></i> -->
              <i class="fas fa-play"></i>
            </a>  
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold; font-size: 23px;">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
          <div style="margin: 5px; margin-left: 0px;">
            <a style="font-weight: bold;color: black; font-size: 14px;" href="#" class="card-link hi">Documentation</a>
            <a style="font-weight: bold; color: black;font-size: 14px;" href="#" class="card-link">Try it out</a>
            <!-- <a  style="margin-top: 10px;" href="#!" class="btn btn-primary">Try it Out</a> -->
          </div>
        </div>

        <!-- <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div> -->
      </div>
    </div>

    <div class="col">
      <div class="card h-100 hello">
        <div class="hello2">
          <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top hello1" alt="..." />
          <div class="overlay">
            <a href="#" class="icon" title="Play">
              <i class="fas fa-play"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold; font-size: 23px;">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
          <div style="margin: 5px; margin-left: 0px;">
            <a style="font-weight: bold;color: black; font-size: 14px;" href="#" class="card-link hi">Documentation</a>
            <a style="font-weight: bold; color: black;font-size: 14px;" href="#" class="card-link">Try it out</a>
          </div>
        </div>
      </div>
    </div>

</div>

<app-footer></app-footer>