.box{
  float:right;
  margin-top: 45px;
  align-self: start;
  width:33%;
  height: auto;
  border-radius: 5px;
  border: 2px;
  
}

.heading{
  color: rgb(3, 3, 109);
}

.button{
  width: 190px;
  background-color: rgb(52, 127, 239);
  border-radius: 5px;
}

