<!-- <p>signup works!</p> -->

<app-header></app-header>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-user-interface-kiranshastry-lineal-kiranshastry.png" id="icon" alt="User Icon" />
    </div>
    <!-- Login Form -->
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">

          <input type="text" 
            id="login" 
            class="fadeIn second" 
            placeholder="First Name" 
            name="firstName" 
            ngModel
              name="firstName">

          <input type="text" 
            id="login" 
            class="fadeIn second" 
            placeholder="Last Name" 
            name="lastName" 
            ngModel
              name="lastName" 
              maxlength="50">
          
          <input 
            type="text" 
            id="login" 
            class="fadeIn second" 
            placeholder="Phone"
            name="phone" 
            ngModel
              name="phone" 
              maxlength="50"  
              required>

          <input 
            type="text"
            id="login" 
            class="fadeIn second" 
            placeholder="Email" 
            name="email"
            ngModel
              name="email" 
              maxlength="50">

          <input
            type="text" 
            id="login" 
            class="fadeIn second" 
            placeholder="Password" 
            name="password"
            ngModel
              name="password"
              required
              minlength="6"
              required>
        
      <!-- <input [type=password] id="password" class="fadeIn third" placeholder="password" name="pass" [(ngModel)]="password"   required> -->
      <!-- <input type="text" id="login" class="fadeIn second" name="login" placeholder="login"> -->

      <!-- <button type="submit" class="fadeIn fourth">Log In</button> -->
       <input  type="submit" class="fadeIn fourth" > 
    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/">Already have account? Sign in</a>
    </div>
  </div>
</div>


<app-footer></app-footer>
